.all {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 4px;

  .product-preview {
    margin-left: 20px;
    margin-bottom: 20px;

    img {
      display: block;
      width: 100%;
    }
  }
}