<div class="all">
  <div *ngIf="data" class="product-container">
    <div class="product-preview" *ngFor="let item of data">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate" (click)="gotoDetal(item['id'])">
          <nz-card-meta nzTitle="{{item['name']}}" nzDescription="¥{{item['price']}}"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="" src="../../../assets/flowers/{{item['img']}}"/>
        </ng-template>
      </div>
  </div>
</div>