<div class="product-detail"*ngIf="data">
  <div class="product-detail-left">
    <img src="../../../assets/flowers/{{data['img']}}" alt="">
  </div>
  <div class="product-detail-right">
    <div class="title">
      {{data['name']}}
      <span>编号：10224</span>
    </div>
    <div class="details">
      <ul>
        <li>
          <div class="detail-name price-name">
            价格:
          </div>
          <div class="detail-content price">
            ¥{{data['price'] * quantity}}
          </div>
        </li>
        <li>
          <div class="detail-name">
            材料:
          </div>
          <div class="detail-content">
            本店花朵都是最新采摘的优质花朵，品质保障
          </div>
        </li>
        <li>
          <div class="detail-name">
            包装:
          </div>
          <div class="detail-content">
            高档包装； 附送精美贺卡，代写祝福（下单填写即可）；可全国配送，市区免费
          </div>
        </li>
        <li>
          <div class="detail-name">
            花语:
          </div>
          <div class="detail-content">
            {{data['description']}}
          </div>
        </li>
      </ul>
    </div>
    <div class="quantity">
        <div class="quantity-title">
          数量选择:
        </div>
        <input nz-input placeholder="Basic usage" [(ngModel)]="quantity">
    </div>
    <div class="operation-btns">
      <button nz-button nzType="primary" nzSize="large">
        <i nz-icon type="credit-card" theme="outline"></i>
        立即购买
      </button>
      <button nz-button nzType="default" nzSize="large" (click)="addToShoppingCart()">
        <i nz-icon type="shopping-cart" theme="outline"></i>
        加入购物车
      </button>
    </div>
  </div>
</div>