<div class="login-wrapper">
    <div class="login-top">
      登录
    </div>
    <div class="login-content">
      <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate1" class="username-input">
        <input type="text" nz-input placeholder="用户名" [(ngModel)]="username">
      </nz-input-group>
      <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate2" class="password-input">
        <input type="password" nz-input placeholder="密码" [(ngModel)]="password">
      </nz-input-group>
      <button nz-button nzType="primary" nzBlock class="login-btn">登录</button>
      <a routerLink="/register">还没有账号?先注册一个</a>
    </div>
  </div>
  <ng-template #prefixTemplate1><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixTemplate2><i nz-icon type="lock"></i></ng-template>
  <ng-template #suffixTemplate><i nz-icon type="close-circle" (click)="username=null" *ngIf="username"></i></ng-template>