<ul nz-menu [nzMode]="'inline'" style="width: 240px;">
  <li nz-menu-item nz-tooltip nzPlacement="right" nzSelected="true" (click)="menuClick(0)">
    <span title>
      <i nz-icon type="appstore"></i>
      <span>全部商品</span>
    </span>
  </li>
  <li nz-menu-item nz-tooltip nzPlacement="right" (click)="menuClick(1)">
    <span title>
      <i nz-icon type="shopping-cart"></i>
      <span>购物车</span>
    </span>
  </li>
  <li nz-menu-item nz-tooltip nzPlacement="right" (click)="menuClick(2)">
    <span title>
      <i nz-icon type="ordered-list"></i>
      <span>我的订单</span>
    </span>
  </li>
  <li nz-menu-item nz-tooltip nzPlacement="right" (click)="menuClick(3)">
    <span title>
      <i nz-icon type="book"></i>
      <span>收货地址</span>
    </span>
  </li>
  <li nz-menu-item nz-tooltip nzPlacement="right" (click)="logout()">
    <span title>
      <i nz-icon type="logout" theme="outline"></i>
      <span>退出登录</span>
    </span>
  </li>
</ul>