.shopping-cart {
  padding: 30px;
  background: #fff;
  border-radius: 4px;

  h1 {
    font-weight: 400;
    margin-bottom: 20px;
  }

  .totalPrice {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    span {
      font-size: 18px;
      color: rgba(0, 0, 0, .65);
      margin-left: 10px;
    }

    span.totalPrice-data {
      color: #3f90f7;
    }
  }
}

.address-format {
  margin-left: 14px;
}